    body{
		background-color: white;
	}
	

	h2{ color: black;
	background: rgba(255,255,255,0.2);
	
	}

  		.mitabla{
		background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgb(240, 14, 22)),
	color-stop(1, rgb(0, 0, 0)),
	color-stop(1, rgb(207, 201, 39)),
	color-stop(1, rgb(249, 242, 67))
);
background-image: -o-linear-gradient(bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
background-image: -moz-linear-gradient(bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
background-image: -ms-linear-gradient(bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
background-image: linear-gradient(to bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
}

.mitabla{
		top: 8em;
		left: 25em;
		position: absolute;
		border-radius: 2em;
		color: white;
		padding: 3em;
		
}
 tbody tr {
	background: rgba(255,255,255,0.2);
	border: 1px solid white;
	cursor: pointer;
}

	.calendar{
		border-radius: 2em;
		color: white;
		padding: 3em;

		border-radius: 1em;
		width: 60em;
		color: white;
		background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgb(240, 14, 22)),
	color-stop(1, rgb(0, 0, 0)),
	color-stop(1, rgb(207, 201, 39)),
	color-stop(1, rgb(249, 242, 67))
);
background-image: -o-linear-gradient(bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
background-image: -moz-linear-gradient(bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
background-image: -ms-linear-gradient(bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
background-image: linear-gradient(to bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
	
	}

	 .calendar td{
		padding: 0.2em;
	}

	.dispo{
		position: absolute;
		border-radius: 2em;
		color: white;
		padding: 3em;

	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgb(240, 14, 22)),
	color-stop(1, rgb(0, 0, 0)),
	color-stop(1, rgb(207, 201, 39)),
	color-stop(1, rgb(249, 242, 67))
);
background-image: -o-linear-gradient(bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
background-image: -moz-linear-gradient(bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
background-image: -ms-linear-gradient(bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
background-image: linear-gradient(to bottom, rgb(240, 14, 22) 0%, rgb(0, 0, 0) 100%, rgb(207, 201, 39) 100%, rgb(249, 242, 67) 100%);
		
	}